.h-add-padding h3 {
  padding-top: 15px;
}

.h-add-padding div {
  padding-bottom: 30px;
}

.row .input-field input:focus {
  border-bottom: 1px solid #aa00ff !important;
  box-shadow: 0 1px 0 0 #aa00ff !important;
}
